.header
  .header__main
    =link_to "#", class: "header__main__name" do
      user-name
    .header__main__title
      To Do
  .header__nav
    .header__nav__list
      
    = link_to "サインアウト", "#", class: "header__nav__sigh-out"